
<!doctype html>
<html lang="en">
  <head>
    <title>Paa Cash Wallet</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta  name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="/images/logo/logo.png" type="image/gif" sizes="32x32">
    <!-- <link rel="shortcut icon" href="./assets/image/favicon-32x32.png" type="image/gif" sizes="32x32">
     <link rel="apple-touch-icon" href="./assets/image/apple-touch-icon.png" type="image/gif"> -->

     <link href="/user/user.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       

       
        
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="background-color: rgb(50, 63, 63); color: antiquewhite;">
   

    


    <header>
      <!-- place navbar here -->
      <nav id="topnav" style="display: non; background-color: #041b2b; color: aliceblue; " class="navbar fixed-top" >
        <div class="container-fluid">
              <a> <span style="background-color: #ccdbe6; " class="navbar-toggler-icon" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></span></a>
              <a class="navbar-brand" href="#"><img src="/images/logo/logo.png" alt="Logo" width="120" height="40" class="d-inline-block align-text-top"> </a>
              <a>
                <i class="fa fa-bell" aria-hidden="true"></i>
              </a>
        </div>
      </nav>
    </header>
  <script>
    // function oofon(){
    //   $("#onoff").prop('checked', true);
    //   aa= $("#onoff").prop('checked');
    //   alert(aa);
    // }
    function abcd(){
      
      var aa=$("#onoff").prop('checked')
      
      if(aa){
        //////operation for true 
        console.log("ture  onlone")
        //$("#onoff").css({"background-color":"rgb(10, 123, 53)"})
      }else{
        console.log("false  offline")
        //$("#onoff").css({"background-color":"#797575"})
        //$("#onoff").css({"background-color":"rgb(10, 123, 53)"})
        
      }
    }

    function mrchSavechanges(userID){
      var mrchTotalAmt =$("#mrchTotalAmt").val().trim();
      var mrchUsdtRate =$("#mrchUsdtRate").val().trim();
      var mrchOrderTime =$("#mrchOrderTime").val().trim();
      var mrchLimitFrom =$("#mrchLimitFrom").val().trim();
      var mrchLimitTo =$("#mrchLimitTo").val().trim();
      var mrchType =$("#mrchType").val().trim();
      $.post('/user/onlineOfflinemMerchant',{
        userID:userID,
        mrchTotalAmt:mrchTotalAmt,
        mrchUsdtRate:mrchUsdtRate,
        mrchOrderTime:mrchOrderTime,
        mrchLimitFrom:mrchLimitFrom,
        mrchLimitTo:mrchLimitTo,
        mrchType:mrchType
      },function(data){

      });
      
    }

    function editmerchantNickname(userID){
        var newPasw = prompt("Enter Nick Name");
        $.post('/user/editmerchantNickname',{
          userID:userID,
          merchantNickName:newPasw
        },function(data){
          merchantInit(userID);
        });
    }

    var video='https://paacab.fra1.digitaloceanspaces.com/7bed40a276d6b86c6120e88381705d8c'
    let position = text.search("https");





              

  </script>
  <style>
    input[type=checkbox]:checked {
    background-color: #14b357 !important;
    color: #ffffff !important;
    }
    input[type='checkbox']:after {
    box-shadow: none !important;
    }
  
  </style>

    <div id="topBacground"  style="background-color: #041b2b;  height: 25vh; display:none"></div>
    
   <div   id="view"   class="container-fluid  ">

    <div class="card"  style="margin-top: 10vh; margin-bottom: 10vh; height: 80vh; ">
        <div class="card-header">
          <button onclick="closeWithdral()" type="button" class="btn-close float-end"></button>
         <h3>Merchant</h3> 
         <p onclick="oofon()">Sukanta Sardar <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span><br>Bank Transfer</p>
         <div style="margin-top: -25px;" class="form-check form-switch">
          <span style="margin-left: 24vh;">Online</span>
          <input onclick ="abcd()" style="" class="form-check-input float-end" type="checkbox" role="switch" id="onoff">
        </div>
        </div>
      <div class="card-body">
        <div class="row" style="height: 30vh; overflow-y: auto; font-size: x-small;">
            <div class="col">
               <div class="mb-3">
                <label  class="form-label">Total Amount</label>
                <input type="text" class="form-control" id="mrchTotalAmt" value="1000">
               </div>
               <div class="mb-3">
                <label  class="form-label">USDT Rate</label>
                <input type="text" class="form-control" id="mrchTotalAmt" value="89.01">
               </div>
               <div class="mb-3">
                <label  class="form-label">Time 15 min</label>
                <select class="form-select">\
                    <option value="15" selected>Select Option</option>\
                    <option value="15">15 min</option>\
                    <option value="30">30 min</option>\
                    <option value="60">60 min</option>\
                    <option value="120">120 min</option>\
                    <option value="180">180 min</option>\
                    <option value="360">360 min</option>\
                    <option value="1440">24 hr</option>\
                  </select>
               </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label  class="form-label">Limit</label>
                    <input type="text" class="form-control" id="mrchTotalAmt" value="1000"><br>
                    <span style="text-align: center; font-size: small;">To</span>
                    <input type="text" class="form-control" id="mrchTotalAmt" value="1000">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Pay Through</label>
                    <select class="form-select">\
                        <option value="Bank Transfer">Bank Transfer</option>\
                        <option value="Cash Collections">Cash Collections</option>\
                      </select>
                   </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-xs" type="button">Save Changes</button>
            </div>
          </div>
        <div class="row">
            <div class="col">
                <div class="card-header">
                   <h4>Merchant Order</h4>
                   <select class="form-select">\
                    <option value="Bank Transfer">Pending</option>\
                    <option value="Cash Collections">Complete</option>\
                  </select>
                  </div>
                <div class="card-body" style="height: 25vh; overflow-y: auto;">
                    <ul  class="list-group">
                        <li class="list-group-item mb-3" style="background-color: rgb(50, 63, 63); border: none;">
                          <p style="font-size: small; color: #797575 !important;" class="text-dark">
                            <span><i class="fa fa-user-circle" aria-hidden="true"></i></span> &nbsp; 
                            <span style="font-size: larger; color: #fffbfb;"> Sukanta sardar </span> &nbsp; 
                            <span style="color: #f1de0b;"><i class="fa fa-check-square" aria-hidden="true"></i></span>
                            <br><span><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> 100%</span> &nbsp; 
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 min</span>
                            <span class="float-end">Bank Transfer</span>
                            <br><span style="font-size: medium; color: #fffbfb;">&#8377;  0.912</span>
                            <span class="float-end" > <button onclick="marchantOrdrtInit()" type="button" class="btn btn-sm btn-success">I have Tranfer</button></span>
                            <br> Payble Amount <span style="color: #fffbfb;">&#8377;2000.00</span>
                            <input type="hidden" id="userID" value="1">
                          </p>
                          <div id="marchantID" style="color: #f5efef; display: non;" >
                            <p>Name: Johon Dowe<br>Account No: 12235426565476765<br>IFSC: DFGH1234098<br>Branch: Kolkata<br>Bank Name: BOB</p>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
      </div>
    </div> 
    
   

   <script>
    
   </script>


   </div>

   

   <!-- Dashboarb -->


   </div>
   

    <footer>
      <!-- place footer here -->
      <nav id="footnav" style=" color: rgb(201, 181, 156); background-color: #041b2b !important; display: non;" class="navbar fixed-bottom bg-body-tertiary">
        <div id="footerBody" class="container-fluid">
        <div onclick="" style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-home" aria-hidden="true"></i>
          <br>Home
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-file-text" aria-hidden="true"></i>
          <br>Transection
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-btc" aria-hidden="true"></i>
          <br>Currency
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-cog" aria-hidden="true"></i>
          <br>Setting
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-life-ring" aria-hidden="true"></i>
          <br>Help
        </div>
        
        </div>
      </nav>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"crossorigin="anonymous"></script>
  </body>
</html>

