
<!doctype html>
<html lang="en">
  <head>
    <title>Paa Cash Wallet</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta  name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="/images/logo/logo.png" type="image/gif" sizes="32x32">
    <!-- <link rel="shortcut icon" href="./assets/image/favicon-32x32.png" type="image/gif" sizes="32x32">
     <link rel="apple-touch-icon" href="./assets/image/apple-touch-icon.png" type="image/gif"> -->

     <link href="/user/user.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       

        <script src="/user/userScrpt.js"></script>
        
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="background-color: rgb(50, 63, 63); color: antiquewhite;">
    <script>

      if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
      // true for mobile device
      //document.write("mobile device");
      }else{
      // false for not mobile device
      //document.write("not mobile device");
      alert("You need to Open it from Mobile Device");
      
      window.location.href = "/";
      
      }
      </script>

     <!-- check alredy login -->
     <input  type="hidden" id="allredyloginuserID" value="<%=allredylogin%>">


    <header>
      <!-- place navbar here -->
      <nav id="topnav" style="display: none; background-color: #041b2b; color: aliceblue; " class="navbar fixed-top" >
        <!-- <div class="container-fluid">
              <a> <span style="background-color: #ccdbe6; " class="navbar-toggler-icon" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></span></a>
              <a class="navbar-brand" href="#"><img src="/images/logo/logo.png" alt="Logo" width="120" height="40" class="d-inline-block align-text-top"> </a>
              <a>
                <i class="fa fa-bell" aria-hidden="true"></i>
              </a>
        </div> -->
      </nav>
    </header>
  

    <div id="topBacground"  style="background-color: #041b2b;  height: 25vh; display:none"></div>
    
   <div  id="view"   class="container-fluid  ">

  
    <div class="row p-2">
      <div class="col">
          <label class="">My Currency</label>
          <select onchange="getMyBalance()" style="width: 80%;" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>INR</option>
            <option value="1">BDT</option>
          </select>
          
          <div class="mb-3">
            <label class="">My Balance <br> Rs. 1000</label>
            <label for="exampleInputText1" class="form-label">Enter Amount</label>
            <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
         </div>
      </div>
      <div class="col">
        <label class="">Convert Currency</label>
        <select style="width: 80%;" class="form-select form-select-sm mb-4" aria-label=".form-select-sm example">
          <option selected>INR</option>
          <option value="1">BDT</option>
        </select>
        <label class="">&#Pound; 40 <br><br>Fee : 5</label>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button type="button" class="btn btn-warning">Verify</button>
      </div>
     
     <div class="mb-3">
      <label style="width: 50%; margin-left: 25%;" class="form-label text-center">T-Pin</label>
      <input id="txnPin" type="text" class="form-control text-center" style="width: 50%; margin-left: 25%;">
      </div>
      <div class="d-grid gap-2">
        <button onclick="ccgfdgfhto('+userID+')" class="btn btn-primary" type="button">Convert</button>
      </div>
      
    </div>

   <script>
    function getMyBalance(){

    }
   </script>


   </div>

   
   

   <!-- Dashboarb -->


   </div>
   

    <footer>
      <!-- place footer here -->
      <nav id="footnav" style=" color: rgb(201, 181, 156); background-color: #041b2b !important; display: none;" class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-home" aria-hidden="true"></i>
          <br>Home
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-file-text" aria-hidden="true"></i>
          <br>Transection
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-btc" aria-hidden="true"></i>
          <br>Currency
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-cog" aria-hidden="true"></i>
          <br>Setting
        </div>

        <div style="text-align: center; font-size: small;" >
          <i style="font-size: 30px;" class="fa fa-life-ring" aria-hidden="true"></i>
          <br>Help
        </div>
        
        </div>
      </nav>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"crossorigin="anonymous"></script>
  </body>
</html>

